* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
}
html {
    overflow-y: scroll;
}
a {
    text-decoration: none;
    color: #0277bd;
}
a:hover {
    text-decoration: none;
    color: #0277bd;
}

/* Override the styling for the Vue Dialogs library */
.dg-container.dg-container {
    display: flex;
    align-items: center;
}
.dg-content-cont--floating.dg-content-cont--floating {
    top: inherit;
    position: initial;
    -webkit-transform: none;
    transform: none;
}
